.courses-catalog {
  display: grid;
  gap: 2rem;
  justify-content: space-between;
  align-items: stretch;
}

.course-card {
    display: flex;
    flex-direction: column;
    background: #208fea;
    color: aliceblue;
    padding: 2rem;
    width: 17.5rem;
    height: 17rem;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    font-weight: bold;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.course-card:hover {
    transform: translateY(-0.25rem) scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}