.hero {
    position: relative;
    width: 100%;
    height: 62vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    object-fit: cover;
}

.hero-txt {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: xx-large;
    letter-spacing: 0.03125rem;
    backdrop-filter: blur(0.0625rem);
    text-shadow:
    0 0 0.1875rem #081d71,
    0 0 0.375rem #081d71,
    0 0 0.5625rem #208fea;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.course-preview {
    padding: 2rem;
    text-align: center;
}

.course-grid {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    padding: 1rem 0;
}

.course-card {
    background: #208fea;
    color: aliceblue;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    font-weight: bold;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.course-card:hover {
    transform: translateY(-0.25rem) scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}