.hero {
    width: 100%;
    max-height: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    object-fit: cover;
}

.banner-text {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: xx-large;
    letter-spacing: 0.03125rem;
    backdrop-filter: blur(0.0625rem);
    text-shadow:
    0 0 0.1875rem #0e0e0f, /* 3px */
    0 0 0.375rem #0e0e0f, /* 6px */
    0 0 0.5625rem #ffe375; /* 9px */

}