.hero {
    position: relative;
    width: 100%;
    height: 48vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: cover;
}

.hero-txt {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: xx-large;
    letter-spacing: 0.03125rem;
    backdrop-filter: blur(0.0625rem);
    text-shadow:
    0 0 0.1875rem #081d71,
    0 0 0.375rem #081d71,
    0 0 0.5625rem #208fea;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.course-preview {
    padding: 2rem;
    text-align: center;
}

.course-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.course-card {
    display: flex;
    flex-direction: column;
    background: #208fea;
    color: aliceblue;
    padding: 2rem;
    width: 12rem;
    height: 17rem;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    font-weight: bold;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.course-card:hover {
    transform: translateY(-0.25rem) scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.img-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    perspective: 62.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    position: cover;
    display: inline-block;
    overflow: hidden;
}

.img-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.img-wrapper:hover .img-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    overflow: hidden;
}

.card-front img {
    width: 15rem;
    height: 12rem;
    object-fit: cover;
    position: relative;
    border-radius: inherit;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    background: aliceblue;
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
    padding: 0.75rem;
    overflow: hidden;
    box-sizing: border-box;
}

.card-back p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  line-height: 1.2rem;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

.card h3 {
    border-top: 2rem;
}

.input {
    height: 2rem;
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    box-shadow: 0.5rem #081d71;
}

.input::placeholder {
    font-style: italic;
    padding: 0.7rem;
}