.login-page {
    background-image: url("../image/loginbg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    background: linear-gradient(to bottom right, #208feac4, #081d71d4);
    padding: 3rem 3rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.18);
    width: 350px;
    text-align: center;
    justify-content: center;
}

.login-box h2 {
    margin-bottom: 1.8rem;
    font-weight: 700;
    color:aliceblue;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.3rem;
}
.input-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    color: aliceblue;
}

.input-group input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    border: 1px solid aliceblue;
    outline: none;
}

.input-group input:focus {
    border: 1px solid aliceblue;
}

.login-button {
    background:#081d71;
    color: aliceblue;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.25rem 0.375rem rgba(0,0,0,0.3);
    text-shadow: 0.0625rem -0.0625rem 0 #081d71;
    transition: all 0.3s ease;
}

.login-button:hover {
  background: #208fea;
  transform: translateY(-0.125rem);
  box-shadow: 0 0.375rem 0.5rem rgba(0,0,0,0.4);
}